<div class="container">

    <div class="row">

        <div class="col-12">
            <h2>Selecciona el estado que deseas ver</h2>
            <ul>
                <li [ngClass]="{ 'li-select': idEstadoActual === 1 }" (click)="busquedaDeSolciitudes(1)">
                    Radicado
                </li>
                <li [ngClass]="{ 'li-select': idEstadoActual === 2 }" (click)="busquedaDeSolciitudes(2)">
                    En Proceso
                </li>
                <li [ngClass]="{ 'li-select': idEstadoActual === 3 }" (click)="busquedaDeSolciitudes(3)">
                    Resuelto
                </li>
                <li [ngClass]="{ 'li-select': idEstadoActual === 4 }" (click)="busquedaDeSolciitudes(4)">
                    En Revisión
                </li>
                <li [ngClass]="{ 'li-select': idEstadoActual === 5 }" (click)="busquedaDeSolciitudes(5)">
                    Escalado
                </li>
            </ul>
        </div>

        <div class="col-12 mt-2 " *ngFor="let solicitud of solicitudes; let i =index">



            <div class="order-container">

                <h2> Solicitud No {{solicitud.so_id}}</h2>

                <table class="data-table order-info">
                    <tbody>
                        <tr>
                            <th>Numero:</th>
                            <td> Numero Radico: {{solicitud.so_numero_solicitud}}</td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td [class]="'status-' + solicitud.estados_Solicitudes.es_id">
                                {{solicitud.estados_Solicitudes.es_nombre_estado}}


                            </td>
                        </tr>
                        <tr>
                            <th>Cambiar Estado</th>
                            <td>

                                <select id="estado" [(ngModel)]="cambios[i].so_es_id" class="form-control">
                                    <option *ngFor="let estado of estados" [value]="estado.es_id">
                                        {{ estado.es_nombre_estado }}
                                    </option>

                                </select>

                                <button class="mt-3" (click)="cambiarEstadoSolicitud(i)">Guardar</button>
                            </td>
                        </tr>
                        <tr>
                            <th>Fecha:</th>
                            <td>{{solicitud.so_fecha_creacion | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <th>Tipo:</th>
                            <td>{{solicitud.tipos_Solicitudes.ts_nombre}}</td>
                        </tr>
                        <tr>
                            <th>Cliente:</th>
                            <td>{{solicitud.usuarios.us_nombre}} {{solicitud.usuarios.us_apellido}} -
                                {{solicitud.usuarios.tipo_Identificacion.ti_descripcion}}:{{solicitud.usuarios.us_identificacion}}
                                - Correo: {{solicitud.usuarios.us_correo}} -
                                {{solicitud.usuarios.us_telefono}}</td>
                        </tr>
                        <tr>
                            <th>Mensaje</th>
                            <td>
                                {{solicitud.so_descripcion}}
                            </td>
                        </tr>

                        <tr *ngIf="solicitud.so_respuesta">
                            <th>Respuesta</th>
                            <td>
                                {{solicitud.so_respuesta}}
                            </td>
                        </tr>
                        <tr *ngIf="solicitud.so_url_image">
                            <th>Documento</th>
                            <td><a href="{{solicitud.so_url_image}}">Documento</a></td>
                        </tr>
                        <tr *ngIf="respuestas[i]!=null">
                            <th>Responder</th>
                            <td><input type="text" class="mt-2 mb-2" name="rta{{i}}"
                                    [(ngModel)]="respuestas[i].so_respuesta">
                                <button (click)="responderSolicitud(i)">Responder</button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>


        </div>

    </div>
</div>