@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


button{
    color: #FFFFF2;
    background-color: #00171F;
    border: 0px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px !important;
    font-size: 15px !important;

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #722B1D;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  select, textarea{

    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
form div{
    margin-top: 8px;
}
.contenedor-imagen {
    background-color: #eaeaea;
    border: 0px;
    width: 134px;
    height: 134px;
    border-radius: 21px;
    color: #595959;
    font-family: Lato;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .titulos-organizador {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #00171F;
  }
  .titulos-organizador {
    margin-top: 30px;
  }
  .w-76 {
    width: 76px;
    margin-bottom: 5px;
  }
  .titulo-imagen {
    font-family: Lato;
    font-weight: bold;
    font-size: 17px;
    line-height: 10px;
    margin-top: 5px;
  }
  .margenes {
    margin-right: 10px;
    margin-left: 10px;
  }
  .parrafo-imagen {
    font-family: Lato;
    font-size: 10px;
    margin-top: 5px;
  }
  .linea-naranja {
    height: 3px;
    color: #722B1D;
    background-color: #722B1D;
    width: 200px;
    opacity: 1;
  }


  
.form-mailing {
    width: 96%;
  }
  
  .form-mailing input,
  input,
  .form-mailing select,
  .buscadores {
    width: 100%;

    background-color: #eaeaea;
    color: #595959;
    border: 0px;
    font-family: Lato;
    font-size: 14px;
    padding: 8px;
    border-radius: 11px;
    margin-bottom: 0px;
  }
  
  .form-mailing input {
    color: #595959;
    font-family: Lato;
    font-size: 14px;
  }
  label {
    font-size: 15px;
    color: dimgray;
    font-weight: bold;
    font-family: Lato;
    margin-top: 10px;
    margin-bottom: 5px;
  
  }
  .form-mailing textarea {
    width: 100%;

    background-color: #eaeaea;
    color: #595959;
    border: 0px;
    font-family: Lato;
    font-size: 14px;
    padding: 8px;
    border-radius: 11px;
  }
  
  .form-mailing input::placeholder,
  .form-mailing textarea::placeholder {
    color: #595959;
  }
  
  .selects {
    background-image: url(/assets/triangulo.png);
  }
  
  .persona {
    background-image: url(/assets/persona.png);
  }
  .mail{
    background-image: url(/assets/sobregris.png);
  }

  .documento{
    background-image: url(/assets/documento.png);
  }
  .telefono{
    background-image: url(/assets/telefono.png);
  }
  .selects {
    color: #595959;
    background-repeat: no-repeat;
    background-position: 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-size: 15px 15px;
    padding-left: 30px !important;
    cursor: pointer;
  }
  
  .selects::placeholder {
    color: #595959;
  }


  /* order-component.css */
.order-container {
  max-width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  color: #333;
  border: #f3f3f3 solid 0.1px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.data-table th,
.data-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #f0f0f0;
  font-weight: 600;
  color: #444;
}

.data-table tr:hover {
  background-color: #f8f9fa;
}


.status-1 { color: darkgray; font-weight: 600; }  /* Verde más oscuro */
.status-2 { color: #d39e00; font-weight: 600; }  /* Rojo más oscuro */
.status-3 { color: #1e7e34; font-weight: 600; }  /* Amarillo más oscuro */
.status-4 { color: #3752e9; font-weight: 600; }  /* Amarillo más oscuro */
.status-5 { color: #d37f00; font-weight: 600; }  /* Amarillo más oscuro */

  @media (max-width: 765px) {
    .contenedor-imagen {
      width: 120px;
      height: 120px;
    }
    .titulo-imagen {
        font-size: 12px;
      }
}
@media (max-width: 480px) {
    .contenedor-imagen {
      width: 110px;
      height: 110px;
    }
  }
  @media (max-width: 406px) {
    .contenedor-imagen {
      width: 100px;
      height: 100px;
    }
  }
  @media (max-width: 765px) {
    .w-76 {
        width: 50px;
      }
  }

  @media(max-width:1230px) {
    .titulos-organizador {
      font-size: 2.5vw;
      line-height: 2.5vw;
    }
  }
  
  @media(max-width:900px) {
    .titulos-organizador {
      font-size: 3vw;
      line-height: 3vw;
    }
  }
  
  @media(max-width:700px) {
    .titulos-organizador {
      font-size: 3.5vw;
      line-height: 3.5vw;
    }
  }
  
  @media(max-width:650px) {
    .titulos-organizador {
      font-size: 4vw;
      line-height: 4vw;
    }
  }
  
  @media(max-width:550px) {
    .titulos-organizador {
      font-size: 5vw;
      line-height: 5vw;
    }
  }
  
  @media(max-width:450px) {
    .titulos-organizador {
      font-size: 6vw;
      line-height: 6vw;
    }
  }
