select, textarea{

    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
form div{
    margin-top: 8px;
}
.contenedor-imagen {
    background-color: #eaeaea;
    border: 0px;
    width: 134px;
    height: 134px;
    border-radius: 21px;
    color: #595959;
    font-family: Lato;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .titulos-organizador {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #00171F;
  }
  .titulos-organizador {
    margin-top: 30px;
  }
  .w-76 {
    width: 76px;
    margin-bottom: 5px;
  }
  .titulo-imagen {
    font-family: Lato;
    font-weight: bold;
    font-size: 17px;
    line-height: 10px;
    margin-top: 5px;
  }
  .margenes {
    margin-right: 10px;
    margin-left: 10px;
  }
  .parrafo-imagen {
    font-family: Lato;
    font-size: 10px;
    margin-top: 5px;
  }
  .linea-naranja {
    height: 3px;
    color: #722B1D;
    background-color: #722B1D;
    width: 200px;
    opacity: 1;
  }


  
.form-mailing {
    width: 96%;
  }
  
  .form-mailing input,
  .form-mailing select,
  .buscadores {
    width: 100%;

    background-color: #eaeaea;
    color: #595959;
    border: 0px;
    font-family: Lato;
    font-size: 14px;
    padding: 8px;
    border-radius: 11px;
    margin-bottom: 0px;
  }
  
  .form-mailing input {
    color: #595959;
    font-family: Lato;
    font-size: 14px;
  }
  label {
    font-size: 15px;
    color: dimgray;
    font-weight: bold;
    font-family: Lato;
    margin-top: 10px;
    margin-bottom: 5px;
  
  }
  .form-mailing textarea {
    width: 100%;

    background-color: #eaeaea;
    color: #595959;
    border: 0px;
    font-family: Lato;
    font-size: 14px;
    padding: 8px;
    border-radius: 11px;
  }
  
  .form-mailing input::placeholder,
  .form-mailing textarea::placeholder {
    color: #595959;
  }
  
  .selects {
    background-image: url(/assets/triangulo.png);
  }
  
  .persona {
    background-image: url(/assets/persona.png);
  }
  .mail{
    background-image: url(/assets/sobregris.png);
  }
  .telefono{
    background-image: url(/assets/telefono.png);
  }
  .selects {
    color: #595959;
    background-repeat: no-repeat;
    background-position: 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-size: 15px 15px;
    padding-left: 30px !important;
    cursor: pointer;
  }
  
  .selects::placeholder {
    color: #595959;
  }
  @media (max-width: 765px) {
    .contenedor-imagen {
      width: 120px;
      height: 120px;
    }
    .titulo-imagen {
        font-size: 12px;
      }
}
@media (max-width: 480px) {
    .contenedor-imagen {
      width: 110px;
      height: 110px;
    }
  }
  @media (max-width: 406px) {
    .contenedor-imagen {
      width: 100px;
      height: 100px;
    }
  }
  @media (max-width: 765px) {
    .w-76 {
        width: 50px;
      }
  }

  @media(max-width:1230px) {
    .titulos-organizador {
      font-size: 2.5vw;
      line-height: 2.5vw;
    }
  }
  
  @media(max-width:900px) {
    .titulos-organizador {
      font-size: 3vw;
      line-height: 3vw;
    }
  }
  
  @media(max-width:700px) {
    .titulos-organizador {
      font-size: 3.5vw;
      line-height: 3.5vw;
    }
  }
  
  @media(max-width:650px) {
    .titulos-organizador {
      font-size: 4vw;
      line-height: 4vw;
    }
  }
  
  @media(max-width:550px) {
    .titulos-organizador {
      font-size: 5vw;
      line-height: 5vw;
    }
  }
  
  @media(max-width:450px) {
    .titulos-organizador {
      font-size: 6vw;
      line-height: 6vw;
    }
  }
