<div class="overlay" *ngIf="creando">
    <div class="spinner"></div>
  </div>
  
<div class="row">

    <div class="form col-12">
        <h1 class="titulos-organizador">Contactanos</h1>
        <hr class="linea-naranja  ml-20" />
        <form class="formulario form-mailing">
            <div >
                <label for="nombre">Tipo de Solicitud </label>
                <select class="selects"  name="tipo"  id="tipo" [(ngModel)]="solicitud.so_ts_id" required>
                    <option value="-1">Selecciona tipo de Solicitud</option>
                    <option value="1">Solicitud</option>
                    <option value="2">Petición</option>
                    <option value="3">Queja</option>
                    <option value="4">Reclamo</option>
                    <option value="5">Apelación</option>
                </select>
            </div>
            <div *ngIf="solicitud.so_ts_id==5">
                <label for="radicado">Numero de radicado</label>
                <input class="mt-0 selects documento"[(ngModel)]="noRadico"  type="text" placeholder="Ingresa el radicado de la solicitud a apelar" name="radicado">
                <button class="mt-3" type="button" (click)="buscarSolicitud()">Buscar</button>
            </div>
            <div >
                <label for="nombre">Nombre </label>
                <input class="mt-0 selects persona" #nombreCtrl="ngModel"  type="text" placeholder="Ingresa tu nombre" name="nombre" [(ngModel)]="solicitud.usuario.us_nombre" required>
                <div *ngIf="nombreCtrl.invalid && nombreCtrl.touched" class="error">
                    El nombre es obligatorio
                  </div>
            </div>
            <div >
                <label for="apellido">Apellidos</label>
                <input class="mt-0 selects persona"  #apellidosCtrl="ngModel" type="text" placeholder="Ingresa tus apellidos" name="apellido" [(ngModel)]="solicitud.usuario.us_apellido" required>
                <div *ngIf="apellidosCtrl.invalid && apellidosCtrl.touched" class="error">
                    Los apelldios son obligatorios
                  </div>
            </div>
            <div >
                <label for="email">Correo Electronico</label>
                <input class="mt-0 selects mail"  type="text" #emailCtrl="ngModel" placeholder="Ingresa tu correo" name="email" [(ngModel)]="solicitud.usuario.us_correo" required>
                <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="error">
                    El correo es obligatorio
                  </div>
            </div>
            <div >
                <label for="tel">Telefono</label>
                <input class="mt-0 selects telefono" #telCtrl="ngModel"   type="text" placeholder="Ingresa tu telefono" name="tel" [(ngModel)]="solicitud.usuario.us_telefono" required>
                <div *ngIf="telCtrl.invalid && telCtrl.touched" class="error">
                    El telefono es obligatorio
                  </div>
            </div>
            <div >
                <label for="tipo">Tipo de Documento</label>
                <select class="selects"  name="tipoDoc" id="tipoDoc" [(ngModel)]="solicitud.usuario.us_ti_id" required>
                    <option value="-1">Selecciona tipo de documento</option>
                    <option value="1">CC</option>
                    <option value="2">CE</option>
                    <option value="3">TI</option>
                    <option value="4">Pasaporte</option>

                </select>
            </div>
            <div >
                <label for="cc">Numero Documento</label>
                <input class="mt-0 selects documento" #numCtrl="ngModel" type="text" placeholder="Ingresa tu numero de documento" name="cc" [(ngModel)]="solicitud.usuario.us_identificacion" required>
                <div *ngIf="numCtrl.invalid && numCtrl.touched" class="error">
                    El numero de documento es obligatorio
                  </div>
            </div>
            <div >
                <label for="descripcion">Descripción</label>
                <textarea  name="descripcion" #descripcionCtrl="ngModel" placeholder="Descripción" id="descripcion" [(ngModel)]="solicitud.so_descripcion" required></textarea>
                <div *ngIf="descripcionCtrl.invalid && descripcionCtrl.touched" class="error">
                    La descripción es obligatoria
                  </div>
            </div>

            <div class="contenedor-imagen " (click)="fileInput.click()">
                <div>
                  <div> <img src="assets/documento.png" class="w-76" alt=""> </div>
                  <div class="titulo-imagen">Documento</div>
                  <div class="parrafo-imagen">archivo</div>
                </div>
                <input class="mt-0 selects reloj" type="file" #fileInput style="display: none" (change)="selectFiles($event)" />
    
              </div>

              <div *ngIf="selectedFiles">
                <h2 class="titulos-organizador">Documento</h2>
                <div *ngFor="let src of imagesSrc" class="lista-archivos">
                  <p class="ml-1">{{src}}</p>
                </div>
              </div>
            <div >
                <button (click)="crearSolicitud()">Enviar</button>
            </div>
            
        </form>
    </div>

</div>